[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# authentication
default-authentication-plugin = mysql_native_password

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# [ERROR] [MY-012585] [InnoDB] Linux Native AIO interface is not supported on this platform. Please check your OS documentation and install appropriate binary of InnoDB.
# への対応。本番では指定する必要ないかも。
innodb_use_native_aio = 0

# Performance optimization
# 本番では指定しないこと。
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

# https://qiita.com/ucan-lab/items/b094dbfc12ac1cbee8cb
# https://qiita.com/kkyouhei/items/8704f3574ca83ad01717